/* General Stlyes */

.App {
  text-align: center;
}

/* Variables */
:root {
  --main-pink: #FF2D55;
  --near-white: #FFF1F4;
  --background: #FFF1F4;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/* Nav Bar */

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: var(--background);
  box-shadow: 0px 0px 100px rgba(255, 45, 83, 0.223);
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: 600;
}

.apply {
  background-color: var(--main-pink);
  padding: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
.apply a {
  text-decoration: none;
  color: var(--near-white);
}
.apply:hover {
  background-color: #c12340;
  cursor: pointer;
}

.highlighted {
  text-decoration: underline;
}

.burger-icon {
  display: none;
}

/* Home Page */

.home-page {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.header {
  max-width: 40%;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redos-logo {
  border-radius: 100%;
  width: 30%;
  padding: 20px;
}

.header h1 {
  font-size: 3.5vw;
  margin: 0;
  width: 60%;
}

.home-page h2 {
  max-width: 60%;
  font-size: 1.5vw;
}

.red-text {
  color: var(--main-pink);
}
.underline {
  text-decoration: underline;
}

button {
  background-color: var(--main-pink);
  border: 0;
  color: var(--near-white);
  padding: 1.5vw;
  margin: 20px;
  font-size: 1.2vw;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #c12340;
}

.footer {
  font-size: 0.8vw;
}
/* About Page */

.about {
  margin-left: 3vw;
}

.text-info {
  text-align: left;
  max-width: 70%;
}

.page-h1 {
  margin-top: 1vw;
  font-size: 4vw;
}

.about h2 {
  color: var(--main-pink);
  margin: 0;
  font-size: 1.8vw;
  text-align: left;
}

.members {
  display: flex;
  justify-content: space-between;
}
.members h3 {
  text-align: left;
}
.members ul {
  padding-left: 1vw;
  text-align: left;
  list-style: none;
}
.studio-image img {
  max-width: 30vw;
  border: 3px solid var(--main-pink);
  border-radius: 20px;
}
.studio-image h3 {
  text-align: center;
  text-decoration: underline;
}

.about-images {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-decoration: underline;
  justify-content: center;
}

.about-images h3 {
  text-align: center;
}

.about-images img {
  max-width: 25vw;
  border: 3px solid var(--main-pink);
  border-radius: 20px;
  margin: 1vw;
}

/* Design Page */
.design-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.design-page-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(100, minmax(1px,  1fr));
  grid-template-rows: repeat(100, minmax(1px, 2fr));
  height: 70vw;
  width: 90vw;
}

/* Each Box */

.design-page-box-branding {
  grid-column: 1 / span 49;
  grid-row: 1 / span 49 ;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  text-align: left;
  padding: 1vw;
  border-radius: 15px;
}
.design-page-text {
  grid-column: 1 / span 2;
  grid-row: 2;
  align-self: flex-end;
  padding-left: 5px;
}

.design-page-box-colors {
  grid-column: 51 / span 50;
  grid-row: 10 / span 40;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  text-align: left;
  padding: 1vw;
  border-radius: 15px;
}
.design-page-box-typo {
  grid-column: 1 / span 60;
  grid-row: 51 / span 40;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  text-align: left;
  padding: 1vw;
  border-radius: 15px;
}
.design-page-box-graphics {
  grid-column: 62 / span 50;
  grid-row: 51 / span 45;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  text-align: left;
  padding: 1vw;
  border-radius: 15px;
}
.design-page-box h2, h3 {
  margin: 0;
  text-align: left;
}
.design-page-text h2 {
  font-size: 3vw;
  margin: 0;
}
.design-page-text h3 {
  font-size: 1vw;
  margin: 0;
}
.design-page-grid img {
  align-self: start;
  max-width: 5vw;
  border-radius: 10px;
  transition: max-width 0.3s ease-in-out;
}

.design-page-grid img:hover {
  max-width: 7vw;
}

@media only screen and (max-width: 1000px) {
  .nav-links {
    width: 50%;
  }
  .header {
    max-width: 50%;
  }
  .header h1 {
    font-size: 5vw;
  }
  button {
    border-radius: 10px;
    font-size: 2vw;
    padding: 3vw;
  }
  .home-page h2 {
    font-size: 2.5vw;
  }
  .page-h1 {
    font-size: 7vw;
  }
  .about h2 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  .home-page {
    margin-top: 10vw;
  }
  .header h1 {
    font-size: 8vw;
  }
  .header {
    max-width: 100%;
    flex-direction: column;
  }
  .home-page h2 {
    font-size: 3vw;
  }
  button {
    border-radius: 10px;
    font-size: 3vw;
  }
  .nav-components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .burger-icon {
    display: flex;
  }
  .nav-links {
    display: none;
    flex-direction: column;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    padding: 20px;
  }
  .nav-links :nth-child(5) {
    display: none;
  }
  nav {
    flex-direction: column;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .text-info {
    text-align: center;
    max-width: 90%;
  }
  .page-h1 {
    font-size: 10vw;
  }
  .members ul {
    list-style: none;
  }
  .members ul li {
    font-size: 3vw;
  }
  .about h2 {
    font-size: 6vw;
    text-align: center;
  }
  .about h3 {
    font-size: 4vw;
  }
  .about-images {
    flex-direction: column;
  }
  .about-images img, .studio-image img {
    max-width: 90%;
  }
  /* Design Page */
  .design-page-grid {
    display:block;
    width: 90%;
    height: 100%;
  }
  .design-page-box-branding, .design-page-box-colors, .design-page-box-graphics, .design-page-box-typo {
    height: 35vw;
    margin: 5vw 0;
  }
  .design-page-text h2 {
    font-size: 7vw;
    margin: 0;
  }
  .design-page-text h3 {
    font-size: 3vw;
    margin: 0;
  }
  .design-page-grid img {
    padding: 10px;
    align-self: start;
    max-width: 10vw;
    border-radius: 15px;
  }
  .design-page-grid img:hover {
    max-width: 10vw;
  }
}
