.App {
  text-align: center;
}

/* Nav Bar */

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 223, 223);
}
.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.apply {
  background-color: red;
  padding: 15px;
  border-radius: 15px;
  color: white;
}

/* Home Page */

.home-page {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  max-width: 20%;
}

.header h1 {
  font-size: 50px;
}

.home-page h2 {
  max-width: 75%;
}

.red-text {
  color: red
}